.App{
    min-height:100vh;
    background-color: #C9D8B6;
}
.search-form{
    min-height:10vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.search-bar{
    width: 50%;
    border:none;
    padding:10px;
}
.search-button{
    background:#515E63;
    border:none;
    padding: 10px 20px;
    color:white;
}
.recipies{
    display:flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    flex-wrap:wrap;
}